# Ignore environment files
.env

# Ignore Docker data and logs
proxy/certs/
proxy/vhost.d/
proxy/html/
proxy/nginx.conf
proxy/nginx-proxy.log

# Node modules (for Discord bot)
gomezbot/node_modules/
gomezbot/package-lock.json
gomezbot/.env

# Ignore local images
image-server/images/
